.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.profile__wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 800px;
  align-items: center;
}

.profile__picture {
  border-radius: 50%;
  width: 127px;
  height: 127px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  /* max-width: 380px; */
}

.profile__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile__name {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.1;
}

.profile__occupation {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
}

.profile__button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.profile__button--edit {
  width: 24px;
  height: 24px;
  background-image: url("../images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
}

.profile__button--edit:hover {
  opacity: 0.6;
}

.profile__button--add {
  width: 150px;
  height: 50px;
  background-image: url("../images/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.profile__button--add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .profile {
    flex-direction: column;
  }

  .profile__wrapper {
    width: 100%;
    justify-content: center;
  }

  .profile__name {
    font-size: 35px;
  }

  .profile__button--add {
    margin-top: 30px;
    width: 50%;
  }
}

@media screen and (max-width: 544px) {
  .profile {
    flex-direction: column;
  }
  .profile__wrapper {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 15px;
  }

  .profile__occupation {
    text-align: center;
  }

  .profile__button--add {
    margin-top: 15px;
    width: 100%;
  }
}
